# =========================================================
# Python
# =========================================================

.venv/
.env
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================================================
# Node / React
# =========================================================

frontend/node_modules/
frontend/dist/

# =========================================================
# Raw / generated geospatial data
# =========================================================

data/raw/*
!data/raw/.gitkeep

data/interim/*
!data/interim/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Large geospatial formats anywhere
*.tif
*.tiff
*.shp
*.shx
*.dbf
*.prj
*.gpkg
*.osm
*.osm.pbf
*.nc
*.rar
*.zip

# =========================================================
# Temporary / OS files
# =========================================================

.DS_Store
*.tmp
*.log
*.save

# Deployment datasets required by RAKSHA-SETU API
!data/processed/frontend/
data/processed/frontend/*
!data/processed/frontend/priority_decisions.geojson
!data/processed/frontend/recommended_habitations.geojson
!data/processed/frontend/recommended_sites.geojson
!data/processed/frontend/relocation_links.geojson
